:root {
    --bg-color: #428eea;
    --font: sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    max-width: 768px;
    background: var(--bg-color);
    margin:0;
    font-family: var(--font);
}

.formcontainer {
    background-color: lightgray;
    padding: 5px;
    margin-bottom: 100px;
}

.createheader {
    /* display: inline-block; */
    background-color: silver;
    line-height: 3em;
    margin-bottom: 0px;
    width: 100%;
}

#educationContainer {
    height: 380px;
}

#courseContainer {
    height: 230px;
}

.formcontainer input, .formcontainer select {
    height: 2rem;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 1rem;
    background-color: white;
    border: 1px solid var(--bg-color);
    float: right;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.formcontainer label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

.formcontainer input:focus {
    border: 2px solid var(--bg-color);
}

.halfwidth {
    width: 45% !important;
}

.halfway {
    margin-left: 40%
}

.traitcontainer {
    margin: 10px;
}

.traitcontainer ul li {
    list-style-type: none;
    display: inline-block;
    background-color: lightgray;
    padding: 0px 5px;
    border-radius: 10px; 
    border: 1px solid lightgray;
    cursor: pointer;   
    margin: 3px;
}

.toggeled-background {
    background-color: white !important;
}
